<% content_for :title do %>Step 1 CHOOSE : <% end %>
<% content_for :dynamic_js do %>
<script type="text/javascript">

<% if @images["all"].count > 0 %>
image_array.push(<%=raw @images["all"].map{|x|"{id:'#{x[:id]}',xid:#{x[:xid]},url:'#{x[:url]}',owner:'#{x[:owner]}'}"}.join(",")%>);
<% end %>

initSearch();

</script>

<% end %>
	<div class="container_12">
		<div class="createTop">
			<h1 class="create grid_12"><span class="visuallyhidden">CREATE</span></h1>
			<div id="nav" class="grid_12">
				<p>Step 1: CHOOSE &gt; <span class="dim">Step 2: CREATE &gt; Step 3: SHARE</span></p>
			</div>
		</div>
		<div id="stereoList" class="grid_12">
			<div id="search" class="centered">
				<%= text_field_tag 'keyword' ,'', {:class=>"query", :placeholder=>"Search originals by keyword"} %>
				<%= submit_tag "FIND", :class=>"submit", :onclick => "javascript:searchImages();" %> or 
	<% if (cookies[:flickr_username] == nil || cookies[:flickr_username] == "") %>
				<%= link_to "use your Flickr photos", @flickr_url %>
	<% elsif (params[:noflickr] == nil || params[:noflickr] == "0") && (cookies[:flickr_username] == nil || cookies[:flickr_username] != "") %>
				<%= link_to "use NYPL/BPL photos", "/create?noflickr=1" %>
	<% elsif (params[:noflickr] != nil && params[:noflickr] == "1") && cookies[:flickr_username] != nil && cookies[:flickr_username] != "" %>
				<%= link_to "use your Flickr photos", "/create?noflickr=0" %>
	<% else %>
				<%= link_to "use your Flickr photos", @flickr_url %>
	<% end %>
				<br />
				<div class="status"></div>
			</div>
<% if @images["subset"].length > 0 %>
			<p class="centered">Select an image from these nine. Click "REFRESH PHOTO LIST" to get another batch.</p>
<% @images["subset"].entries.each_with_index do |image,i| %>
			<div id="<%= "st#{i}" %>" class="stereograph grid_4 <%= 'alpha' if i.modulo(3) == 0 %><%= 'omega' if i.modulo(3) == 2 %>">
<!--[if (!IE)|(lte IE 8)]><!-->
				<%= link_to "CHOOSE THIS ONE", "/convert/#{image[:id]}?xid=#{image[:xid]}", {:id => "linko_#{i}", :class=>'over', :title => image[:owner]} %>
<!-- <![endif]-->
				<%= link_to image_tag(image[:url], {:id => "img_#{i}", :width => 300, :alt => image[:owner]}), "/convert/#{image[:id]}?xid=#{image[:xid]}", {:class=>'base',:id => "link_#{i}", :title => image[:owner]} %>
			</div>
	<% if i.modulo(3) == 2 %>
			<div class="clear"></div>
	<% end %>
<% end %>
			<div class="centered">
				<%= link_to "REFRESH PHOTO LIST", "javascript:;", {:class => 'genericButtonLink', :onclick => "javascript:refreshImages();" } %>
			</div>
<% else %>
			<p class="centered">
				<% if @get_from_flickr %>
				No images were found in your Flickr set. <%= link_to "Use NYPL/BPL photos", @flickr_url %>.
				<% else %>
				No images were found. Please try again.
				<% end %>
				</p>
			<div class="centered">
				<%= link_to "RETRY", "/create", {:class => 'genericButtonLink'} %>
			</div>
<% end %>
		</div>
		<div class="clear"></div>
	</div>
