<% content_for :dynamic_js do %>
<script>

image_array.push('<%=@images["all"].join("','")%>');

</script>

<% end %>
	<div class="container_12">
		<div class="createTop">
			<h1 class="create grid_12"><span class="visuallyhidden">CREATE</span></h1>
			<div id="nav" class="grid_12">
				<p>Step 1: CHOOSE &gt; <span class="dim">Step 2: CREATE &gt; Step 3: SHARE</span></p>
			</div>
		</div>
		<div id="stereoList" class="grid_12">
<% if @images["subset"].length > 0 %>
			<p>Select an image from these nine or click "REFRESH PHOTO LIST" to get another batch of photos.</p>
<% @images["subset"].entries.each_with_index do |image,i| %>
			<div class="stereograph grid_4 <%= 'alpha' if i.modulo(3) == 0 %><%= 'omega' if i.modulo(3) == 2 %>">
<!--[if (!IE)|(IE 9)]> -->
				<%= link_to "CHOOSE THIS ONE", "/convert/#{image.digitalid}", {:id => "linko_#{i}", :class=>'over'} %>
<!-- <![endif]-->
				<%= link_to image_tag(image.thumb_url, {:id => "img_#{i}"}), "/convert/#{image.digitalid}", {:class=>'base',:id => "link_#{i}"} %>
			</div>
	<% if i.modulo(3) == 2 %>
			<div class="clear"></div>
	<% end %>
<% end %>
			<div class="centered">
				<%= link_to "REFRESH PHOTO LIST", "javascript:;", {:class => 'genericButtonLink', :onclick => "javascript:refreshImages();" } %>
			</div>
<% else %>
			<p class="centered">There was a problem connecting to the Digital Gallery. Please try again.</p>
			<div class="centered">
				<%= link_to "RETRY", "/choose", {:class => 'genericButtonLink'} %>
			</div>
<% end %>
		</div>
		<div class="clear"></div>
	</div>
