<% content_for :dynamic_js do %>
<!-- non compiled JS (heroku limitation) -->
<!--[if !IE]> -->
<%= javascript_include_tag "/assets/easel.js" %>
<%= javascript_include_tag "/assets/src/easeljs/utils/UID.js" %>
<%= javascript_include_tag "/assets/src/easeljs/geom/Matrix2D.js" %>
<%= javascript_include_tag "/assets/src/easeljs/events/MouseEvent.js" %>
<%= javascript_include_tag "/assets/src/easeljs/display/DisplayObject.js" %>
<%= javascript_include_tag "/assets/src/easeljs/display/Container.js" %>

<%= javascript_include_tag "/assets/src/easeljs/display/Bitmap.js" %>
<%= javascript_include_tag "/assets/src/easeljs/display/Graphics.js" %>
<%= javascript_include_tag "/assets/src/easeljs/display/Shape.js" %>
<%= javascript_include_tag "/assets/src/easeljs/display/Stage.js" %>
<%= javascript_include_tag "/assets/src/easeljs/utils/Ticker.js" %>
<%= javascript_include_tag "/assets/src/easeljs/geom/Point.js" %>
<%= javascript_include_tag "/assets/src/easeljs/ui/Touch.js" %>
<!-- <![endif]-->

<%= javascript_include_tag "/assets/swfobject.js" %>
<!-- end non-compiled -->
<script type="text/javascript">
// establish the photo to be used
index = "<%= params[:did] %>";
sheetsrc = "<%= image_path('sprites.png') %>"
if (Modernizr.canvas) {
	window.onload = init;
} else {
	window.onload = function () {
		disableCanvas();
		swfobject.embedSWF("<%= asset_path("main.swf") %>", "fallback", "1200", "582", "10", "<%= asset_path("expressInstall.swf") %>", {index:"<%= params[:did] %>",host:"<%= request.protocol + request.host_with_port %>"}, {wmode: "transparent"});
	}
}
</script>

<% end %>
	<div id="yescanvas">
		<div class="createTop container_12">
			<h1 class="create grid_12"><span class="visuallyhidden">CREATE</span></h1>
			<div id="nav" class="grid_12">
				<p><span class="dim"><%= link_to "Step 1: CHOOSE A STEREOGRAPH", "/create" %> &gt;</span> Step 2: CONVERT TO GIF/ANAGLYPH &gt; <span class="dim">Step 3: SHARE</span></p>
			</div>
		</div>
		<div id="stereogranimator">
			<div class="canvasHolder">
				<canvas id="testCanvas" width="800" height="540"></canvas>
			</div>
			<div class="sideshow">
				<div id="toggler">
					<div id="toggleLinks">
						<a href="javascript:;" id="toggleAna">VIEW AS 3D ANAGLYPH</a>
						<a href="javascript:;" id="toggleGIF">VIEW AS ANIMATED GIF</a>
					</div>
					<div id="GIFExtraLinks">
						<div>
							<a href="javascript:;" id="slowSpeed">SLOW</a>
							<a href="javascript:;" id="medSpeed">MEDIUM</a>
							<a href="javascript:;" id="fastSpeed">FAST</a>
						</div>
					</div>
				</div>
				<div id="preview">
					<div id="previewContainer">
						<div id="previewGIF">
						</div>
						<div id="previewAnaglyph">
							<canvas id="resultCanvas"></canvas>
						</div>
					</div>
				</div>
				<div id="process">
					<canvas id="processCanvas" width="1000" height="1000"></canvas>
				</div>
			</div>
			<div class="nextStep">
				<a href="javascript:;" id="btnNext" class="genericButtonLink">SAVE IMAGE &gt;</a>
			</div>
			<div class="clear"></div>
<%= render :partial => "shared/instructions" %>
		</div>
	</div>
<%= render :partial => "shared/nocanvas" %>
	<div class="metadata container_12">
		<p class="grid_12"><%= @metadata["title"] %> <%= link_to "View in NYPL Digital Gallery", @metadata["link"] %></p>
	</div>
