<% content_for :dynamic_js do %>

<%= javascript_include_tag "easel" %>
<%= javascript_include_tag "./src/easeljs/utils/UID" %>
<%= javascript_include_tag "./src/easeljs/geom/Matrix2D" %>
<%= javascript_include_tag "./src/easeljs/events/MouseEvent" %>
<%= javascript_include_tag "./src/easeljs/display/DisplayObject" %>
<%= javascript_include_tag "./src/easeljs/display/Container" %>
<%= javascript_include_tag "./src/easeljs/display/Bitmap" %>
<%= javascript_include_tag "./src/easeljs/display/Graphics" %>
<%= javascript_include_tag "./src/easeljs/display/Shape" %>
<%= javascript_include_tag "./src/easeljs/display/Stage" %>
<%= javascript_include_tag "./src/easeljs/utils/Ticker" %>
<%= javascript_include_tag "./src/easeljs/geom/Point" %>
<%= javascript_include_tag "./src/easeljs/ui/Touch" %>
<%= javascript_include_tag "./jquery.getimagedata.min" %>

<script>
// establish the photo to be used
index = "<%= params[:did] %>";
sheetsrc = "<%= image_path('sprites.png') %>"
if (Modernizr.canvas) {
	console.log("<canvas> support present");
	window.onload = init;
} else {
	console.log("<canvas> support NOT present");
	window.onload = disableCanvas;
}
</script>

<% end %>
	<div id="yescanvas">
		<div class="createTop container_12">
			<h1 class="create grid_12"><span class="visuallyhidden">CREATE</span></h1>
			<div id="nav" class="grid_12">
				<p><span class="dim"><%= link_to "Step 1: CHOOSE A STEREOGRAPH", "/create" %> &gt;</span> Step 2: CONVERT TO GIF/ANAGLYPH &gt; <span class="dim">Step 3: SEND</span></p>
			</div>
		</div>
		<div id="stereogranimator">
			<div class="canvasHolder">
				<canvas id="testCanvas" width="800" height="550"></canvas>
			</div>
			<div class="sideshow">
				<div id="toggler">
					<div id="toggleLinks">
						<a href="javascript:;" id="toggleAna">VIEW AS 3D ANAGLYPH</a>
						<a href="javascript:;" id="toggleGIF">VIEW AS ANIMATED GIF</a>
					</div>
					<div id="GIFExtraLinks">
						<div>
							<a href="javascript:;" id="slowSpeed">SLOW</a>
							<a href="javascript:;" id="medSpeed">MEDIUM</a>
							<a href="javascript:;" id="fastSpeed">FAST</a>
						</div>
					</div>
				</div>
				<div id="preview">
					<div id="previewContainer">
						<div id="previewGIF">
						</div>
						<div id="previewAnaglyph">
							<canvas id="resultCanvas"></canvas>
						</div>
					</div>
				</div>
				<div id="process">
					<canvas id="processCanvas" width="1000" height="1000"></canvas>
				</div>
			</div>
			<div class="nextStep">
				<p><a href="javascript:;" id="btnNext" class="genericButtonLink">CONTINUE TO STEP 3 &gt;</a></p>
			</div>
			<div class="clear"></div>
		</div>
	</div>
<%= render :partial => "shared/nocanvas" %>
