<% content_for :title do %>Step 3 SHARE : <% end %>

<%
if @animation.mode == "GIF"
	@strtype = "Animated GIF"
else
	@strtype = "Anaglyph"
end

embed_img_src = request.protocol + request.host_with_port + "#{@animation.full_count}"
embed_url = url_for(:controller=>"gallery",:action=>"view",:id=>@animation.id,:only_path => false)

%>

<% content_for :img_metadata do %>
<meta property="og:image" content="<%= "#{request.protocol}#{request.host_with_port}#{@animation.full_count}" %>" />
<link rel="image_src" href="<%= "#{request.protocol}#{request.host_with_port}#{@animation.full_count}" %>" />

<meta name="twitter:card" content="photo">
<meta name="twitter:url" content="<%= embed_url %>">
<meta name="twitter:title" content="<%= "#{@strtype} in the NYPL Labs Stereogranimator" %>">
<meta name="twitter:description" content="<%= @animation.metadata %>">
<meta name="twitter:image" content="<%= embed_img_src %>">
<meta name="twitter:creator" content="@nypl_stereo">
<% end %>

		<div class="createTop publiceye">
			<div id="nav">
				<p><span class="dim">Step 1: CHOOSE &gt; Step 2: CREATE &gt;</span> Step 3: SHARE</p>
			</div>
		</div>
		<div class="detail publiceye">
			<h2>CONGRATULATIONS!</h2>
			<p>Your <%= @animation.mode == "GIF" ? "animated GIF" : "anaglyph" %> has been created!</p>
<%= render "shared/detail", :publiceye => true %>

			<div class="create"><%= link_to "CREATE ANOTHER ONE!", "/create_pe", :class => 'genericButtonLink' %></div>

		</div>
		<div class="clear"></div>
