<% content_for :title do %>Step 3 SHARE : <% end %>

<%
if @animation.mode == "GIF"
	@strtype = "Animated GIF"
else
	@strtype = "Anaglyph"
end

embed_img_src = request.protocol + request.host_with_port + "#{@animation.full_count}"
embed_url = url_for(:controller=>"gallery",:action=>"view",:id=>@animation.id,:only_path => false)

%>

<% content_for :img_metadata do %>
<meta property="og:image" content="<%= "#{request.protocol}#{request.host_with_port}#{@animation.full_count}" %>" />
<link rel="image_src" href="<%= "#{request.protocol}#{request.host_with_port}#{@animation.full_count}" %>" />

<meta name="twitter:card" content="photo">
<meta name="twitter:url" content="<%= embed_url %>">
<meta name="twitter:title" content="<%= "#{@strtype} in the NYPL Labs Stereogranimator" %>">
<meta name="twitter:description" content="<%= @animation.metadata %>">
<meta name="twitter:image" content="<%= embed_img_src %>">
<meta name="twitter:creator" content="@nypl_stereo">
<script type="text/javascript">
$(document).ready(function() {
  $("#tweet_button").click(function(event){
    event.preventDefault();
    data = {
      name:$("#username").val(),
      id: <%= @animation.id %>
    };
    html = '<div class="column tweet_share shared_publiceye"><p>Tweet sent!</p><p>Create another image?</p></div>';
    $(".tweet_share").replaceWith(html);
    $.post( "/share_js_pe", data, function( s ) {}, "json");
  });
  $("#email_button").click(function(event){
    event.preventDefault();
    data = {
      email:$("#email").val(),
      id: <%= @animation.id %>
    };
    html = '<div class="column email_share shared_publiceye"><p>Email sent!</p><p>Create another image?</p></div>';
    $(".email_share").replaceWith(html);
    $.post( "/share_js_pe", data, function( s ) {}, "json");
  });
});
</script>
<% end %>

		<div class="createTop publiceye">
			<div id="nav">
				<p><span class="dim">Step 1: CHOOSE &gt; Step 2: CREATE &gt;</span> Step 3: SHARE</p>
			</div>
		</div>
		<div class="detail publiceye">
			<h2>CONGRATULATIONS!</h2>
			<p>Your <%= @animation.mode == "GIF" ? "animated GIF" : "anaglyph" %> has been created!</p>
<%= render "shared/detail", :publiceye => true %>

			<div class="share_publiceye">
        <div class="column tweet_share">
          <h2>Share this image on Twitter:</h2>
          <p>
            Your tweet will be <span>posted by @nypl_labs</span>.<br />If you want to be @mentioned in the tweet, type your Twitter handle (optional).
          </p>
          <div class="centered tweet">
            <%= text_field_tag 'username' ,'', {:class=>"query", :placeholder=>"@myself"} %>
            <%= link_to "TWEET", "#", :id => "tweet_button", :name => "tweet_button", :class=>"submit genericButtonLink" %>
          </div>
        </div>
        <div class="column email_share">
          <h2>Send to your email:</h2>
          <p>
            Type your email and we will send you the image.<br />We won't keep your email.<br /><br />
          </p>
          <div class="centered email">
            <%= text_field_tag 'email' ,'', {:class=>"query", :placeholder=>"me@email.com"} %>
            <%= link_to "TWEET", "#", :id => "email_button", :name => "email_button", :class=>"submit genericButtonLink" %>
          </div>
        </div>
        <div class="centered"></div>
			</div>


			<div class="create"><%= link_to "CREATE ANOTHER ONE!", "/create_pe", :class => 'genericButtonLink' %></div>

		</div>
		<div class="clear"></div>
