			<div class="detail grid_5">
				<%= image_tag(@animation.full,{:alt=>@animation.metadata}) %>
				<div class="stats">
					<p>
						<em><%= @animation.metadata %></em><br />
						<% onclick = "recordOutboundLink(this, 'Outbound Links', 'Original site #{@animation[:external_id]}');return false;" %>
						<%= link_to image_tag("ext#{@animation.external_id}.png"), @animation.owner_url, {:onclick=>onclick,:title=>"#{@animation.owner}"} unless @animation.external_id == -1 %> <%= @animation.owner %><br />
						<% onclick = "recordOutboundLink(this, 'Outbound Links', 'Gallery site #{@animation[:external_id]}');return false;" %>
						<%= link_to "View original item", @animation.original_url, {:onclick=>onclick,:title=>"View original item"} %><br />
						This is an <%= @animation.mode == "GIF" ? "Animated GIF" : "Anaglyph" %> (<%= @animation.mode == "GIF" ? (link_to "what is that?", :controller=>"about", :action=>"animatedgif") : (link_to "what is that?", :controller=>"about", :action=>"anaglyph") %>)<br />
						Created <%= time_ago_in_words(@animation.created_at) %> ago<br />
						<%= pluralize(number_with_delimiter(@animation.views), "view") %>
					</p>
				</div>
			</div>
