<div id="footer">
	<div class="container_12">
		<p class="grid_12">
		<%= link_to "Privacy Policy", "http://www.nypl.org/help/about-nypl/legal-notices/privacy-policy" %> • 
		<%= link_to "Rules and Regulations", "http://www.nypl.org/help/about-nypl/legal-notices/rules-and-regulations" %> • 
		<%= link_to "Policy on Patron-Generated Web Content", "http://www.nypl.org/policy-patron-generated-web-content" %> • 
		<%= link_to "Website Terms and Conditions", "http://www.nypl.org/help/about-nypl/legal-notices/website-terms-and-conditions" %>
		</p>
		<p class="grid_12">A project of <%= link_to "NYPL Labs", "http://www.nypl.org/collections/labs" %><br />With generous support from The Robert W. Wilson Charitable Trust<br /><%= link_to "Follow this project on Twitter! (@nypl_stereo)", "https://twitter.com/nypl_stereo" %><br />
		© 2011&mdash;<%= Date.today.year %> The New York Public Library</p>
<%

# encoded stuff to use in the share buttons

img = CGI.escape("#{request.protocol}#{request.host_with_port}" + asset_path("diagram-home.png",:only_path => false))
url = CGI.escape("#{request.protocol}#{request.host_with_port}")
tweet = CGI.escape("Stereogranimator: create & share GIFs & 3D from over 40K vintage stereographs (via New York Public Library @nypl_labs)")
twitterurl = "https://twitter.com/share?url=#{url}&text=#{tweet}"
facebookurl = "http://www.facebook.com/sharer.php?u=#{url}&t=#{tweet}"
tumblrurl = "http://www.tumblr.com/share/photo?source=#{img}&caption=#{tweet}&clickthru=#{url}"
googleurl = "https://m.google.com/app/plus/x/?v=compose&content=#{tweet}%20#{url}"
redditurl = "http://www.reddit.com/submit?url=#{url}"

%>
					
		<p class="grid_12">
			Please help the library by sharing this site!<br />
			<%= link_to "Twitter", twitterurl, {:class => "shTwitter", :title => "Share on Twitter"} %>
			<%= link_to "Facebook", facebookurl, {:class => "shFacebook", :title => "Share on Facebook"} %>
			<%= link_to "Tumblr", tumblrurl, {:class => "shTumblr", :title => "Share on Tumblr"} %>
			<%= link_to "Google+", googleurl, {:class => "shPlus", :title => "Share on Google+"} %>
			<%= link_to "Reddit", redditurl, {:class => "shReddit", :title => "Share on Reddit"} %>
		</p>
	</div>
</div>


