<div id="footer" class="container_12">
	<p class="grid_12">
	<%= link_to "Privacy Policy", "http://www.nypl.org/help/about-nypl/legal-notices/privacy-policy" %> • 
	<%= link_to "Rules and Regulations", "http://www.nypl.org/help/about-nypl/legal-notices/rules-and-regulations" %> • 
	<%= link_to "Policy on Patron-Generated Web Content", "http://www.nypl.org/policy-patron-generated-web-content" %> • 
	<%= link_to "Terms and Conditions", "http://www.nypl.org/help/about-nypl/legal-notices/website-terms-and-conditions" %>
	</p>
	<p class="grid_12">A project of <%= link_to "NYPL Labs", "http://www.nypl.org/collections/labs" %><br />
	© 2011&mdash;<%= Date.today.year %> The New York Public Library</p>
	<p class="grid_12">Please help the library by sharing this site!</p>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1420324-101']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<script type="text/javascript" src="http://use.typekit.com/cxc4lvb.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
