	<div id="header">
		<h1><a href="/"><span class="visuallyhidden">STEREOGRANIMATOR</span></a></h1>
		<ul id="mainNav">
			<li class="grid_2 alpha <%=  "active" if controller_name ==  'animations' %>"><%= link_to "CREATE", "/create" %></li>
			<li class="grid_2 <%=  "active" if controller_name ==  'gallery' %>"><%= link_to "GALLERY", gallery_path %></li>
			<li class="grid_2 omega <%=  "active" if controller_name ==  'about' && action_name != 'index' %>"><%= link_to "ABOUT", about_path %></li>
		</ul>
		<div id="flickr_logout">
<% if cookies[:flickr_username] != nil && cookies[:flickr_username] != "" %>
			<%= link_to "Disconnect from Flickr", "/logoutflickr" %>
<% else %>
			<%= link_to "Connect to Flickr", @flickr_url %>
<% end %>
		</div>
	</div>
<% if current_user %>
<%= link_to "Logout", :logout%>
<% end %>
