				<p>You can share this image using the direct link:<br />
				<span class="dim"><%= url_for(:controller=>"gallery",:action=>"view",:id=>@animation.id,:only_path => false) %></span>
				</p>
				
				<p><%= link_to "Create another version", "/convert/#{@animation.digitalid}" %> of the original.</p>
				
<%

# encoded stuff to use in the share buttons
createdtweet = @animation.mode == "GIF" ? "I just created this GIF using the Stereogranimator (via New York Public Library @nypl_labs)" : "I just created this 3D image using the Stereogranimator (via New York Public Library @nypl_labs)"
foundtweet = @animation.mode == "GIF" ? "The past reanimated, courtesy of the Stereogranimator (via New York Public Library @nypl_labs)" : "Vintage 3D, courtesy of the Stereogranimator (via New York Public Library @nypl_labs)"

src = CGI.escape(request.protocol + request.host_with_port + @animation.full_count)
url = CGI.escape(url_for(:controller=>"gallery",:action=>"view",:id=>@animation.id,:only_path => false))
tweet = @sharetype == "created" ? CGI.escape(createdtweet) : CGI.escape(foundtweet)
twitterurl = "https://twitter.com/share?url=#{url}&text=#{tweet}"
facebookurl = "http://www.facebook.com/sharer.php?u=#{url}&t=#{tweet}"
tumblrurl = "http://www.tumblr.com/share/photo?source=#{src}&caption=#{tweet}&clickthru=#{url}"
googleurl = "https://plus.google.com/share?hl=en&url=#{url}&content=#{tweet}"
redditurl = "http://www.reddit.com/submit?url=#{url}"

%>
				
				<p>Share on:
					<%= link_to "Twitter", twitterurl, {:class => "shTwitter", :title => "Share on Twitter"} %>
					<%= link_to "Facebook", facebookurl, {:class => "shFacebook", :title => "Share on Facebook"} %>
					<%= link_to "Tumblr", tumblrurl, {:class => "shTumblr", :title => "Share on Tumblr"} %>
					<%= link_to "Google+", googleurl, {:class => "shPlus", :title => "Share on Google+"} %>
					<%= link_to "Reddit", redditurl, {:class => "shReddit", :title => "Share on Reddit"} %>
				</p>
				
				<p>
<%

embed_img_src = request.protocol + request.host_with_port + "#{@animation.full_count}"
embed_string = @animation.mode + " made with the NYPL Labs Stereogranimator"
embed_code = image_tag(embed_img_src,:alt=>embed_string + " - view more at " + url_for(:controller=>"gallery",:only_path => false))
embed_code = link_to(embed_code + "<br />" + embed_string,url_for(:controller=>"gallery",:action=>"view",:id=>@animation.id,:only_path => false)) 

%>
					You can also use this embed code for your blog or website:<br />
					<%= text_area_tag "embed_code", embed_code, {:class => "embedCode", :onclick => "javascript:this.select();"} %>
				</p>

				<%= form_tag("/send", {:method => "post",:class => "emailShare"}) do %>
				
					<%= label_tag :from, "From:" %><br />
					<%= text_field_tag :from %><br />
					<%= submit_tag("SEND") %>
				
				<% end %>
