			<div class="grid_3 alpha">
				<ul class="sideNav">
<li><%= link_to_unless_current "Introductory text by Joshua Heineman", { :action => "what"} %></li>
<li><%= link_to_unless_current "Stereoscopic photography", { :action => "stereogram"} %></li>
<li><%= link_to_unless_current "What is an anaglyph?", { :action => "anaglyph"} %></li>
<li><%= link_to_unless_current "What is an animated GIF?", { :action => "gif"} %></li>
<li><%= link_to_unless_current "Credits", { :action => "credits"} %></li>
				</ul>
			</div>
