<% 
if @type == "gif"
	@strtype = "Animated GIFs"
elsif @type == "anaglyph"
	@strtype = "Anaglyphs"
end
%>
<% content_for :title do %><%= "#{@strtype} : " unless @type == "all" %>Gallery : <% end %>
<% content_for :dynamic_js do %>
<script type="text/javascript">

initGallerySearch();

</script>

<% end %>
		<div class="container_12">
			<h1 class="gallery"><span class="visuallyhidden">GALLERY</span></h1>
			<div id="nav" class="grid_12">
				<p>SHOW: <%= link_to_unless @type=="all", "ALL", "/gallery/all/1" %>&nbsp;&nbsp;<%= link_to_unless @type=="popular", "POPULAR", "/gallery/popular/1" %>&nbsp;&nbsp;<%= link_to_unless @type=="anaglyph", "ANAGLYPHS", "/gallery/anaglyph/1" %>&nbsp;&nbsp;<%= link_to_unless @type=="gif", "ANIMATED GIFS", "/gallery/gif/1" %>&nbsp;&nbsp;&nbsp;OR <span id="search"><%= text_field_tag 'keyword' ,'', {:class=>"query", :placeholder=>"Search gallery by keyword"} %> <%= submit_tag "SEARCH", :class=>"submit", :onclick => "javascript:searchGallery();" %> <span class="status">Found <%= pluralize(@images.count, "result") %></span></span></p>
			</div>
			<div id="galleryList" class="container_12">
<% @images.each_with_index do |image,i| %>
<%= render :partial => "shared/thumb", :locals => {:image => image} %>
	<% if i.modulo(6) == 5 %>
				<div class="clear"></div>
	<% end %>
<% end %>
				<div class="clear"></div>
				<div class="centered">
					<p><%= paginate @images, :params => { :type => params[:type], :q => params[:q] } %></p>
				</div>
			</div>
		</div>
