		<div class="container_12">
			<h1 class="gallery"><span class="visuallyhidden">GALLERY</span></h1>
			<div class="clear"></div>
			<div class="detail grid_5">
				<%= image_tag(@animation.aws_url) %>
			</div>
			<div class="meta grid_5">
				<p>Created 5 hours ago</p>
					
				<p>This is an <%= @animation.mode == "GIF" ? "Animated GIF" : "Anaglyph" %> (<%= link_to "what is that?", :controller=>"about", :action=>"what" %>)</p>
				
				<div class="create"><%= link_to "CREATE YOUR OWN!", "/choose", :class => 'genericButtonLink' %></div>

<%= render "shared/share", :locals => {:animation => @animation} %>

			</div>
			<div class="clear"></div>
		</div>
