<% content_for :title do %>Animated GIFs : About : <% end %>
	<div class="container_12">
		<h1 class="about"><span class="visuallyhidden">ABOUT THIS PROJECT</span></h1>
		<div class="sideNav grid_9">
			<div class="grid_3 alpha">
<%= render :partial => "shared/sidenav" %>
			</div>
			<div class="grid_6 omega">
				<h2>Animated GIFs</h2>
<p>Now a quarter century old, the <a href="http://en.wikipedia.org/wiki/Graphics_Interchange_Format">GIF</a>, or Graphics Interchange Format, predates the web, but it was the web that made it famous. With updates to the Netscape browser in the mid-90s, animated GIFs (loops of successive images) became a staple of early personal websites, providing an easy way to breathe visual life into static hypertext pages. Cast your mind back to the days of dial-up modems and you may recall little workmen digging into infinity alongside a sign bearing "under construction", or small signs blinking "new" indicating updates. Long before the relentless churn of the web we know today, animated GIFs prefigured, in their charmingly clunky way, the dynamic, always evolving nature of the new medium.</p>
			</div>
			<div class="clear"></div>
			<div class="grid_3 alpha">
<%= image_tag "about-gif1.gif" %>
<%= image_tag "about-gif2.gif" %>
<%= image_tag "about-gif3.gif" %>
<%= image_tag "about-gif4.gif" %>
<p class="caption">"Classic" 1990s-era animated GIFs</p>
			</div>
			<div class="grid_6 omega">
<p>While most associate them today with amateurish 90s websites, animated GIFs continue to dance across screens around the world, turning up in surprising, subtle new variations that start to erode boundaries between <a href="http://iwdrm.tumblr.com/">cinema</a> and <a href="http://cinemagraphs.com/">digital photography</a>. The Stereogranimator joins these latter-day adventures of the venerable GIF, mashing up an important early genre of internet folk art with a nearly forgotten species of folk photography, the stereograph.</p>
<h3>Further reading/viewing:</h3>
<ul>
	<li><a href="http://art.teleportacia.org/">Olia Lialina</a>, artist and internet folklorist: <a href="http://www.guggenheim.org/new-york/interact/participate/youtube-play/the-take/moving-images/3681">Ubiquitous Minicinema</a> - Guggenheim, 'The Take' blog, 2010; <a href="http://art.teleportacia.org/observation/vernacular/">A Vernacular Web</a> - illustrated essay, 2005</li>
	<li>Jason Scott's <a href="http://www.textfiles.com/underconstruction/">archive</a> of "under construction" GIFs from the now defunct GeoCities web community</li>
	<li>Mexican photographer <a href="http://www.brightlightbrightlight.com/series/2009-animated-gif/">Jaime Martínez</a></li>
	<li><a href="http://swinglargo.tumblr.com/tagged/gif">SWINGLARGO</a> - another great GIF Tumblr</li>
	<li><a href="http://dashes.com/anil/2011/07/animated-gifs-triumphant.html">Animated GIFs Triumphant</a> - Anil Dash, July 12, 2011</li>
	<li><a href="http://3fram.es/">3fram.es</a> - make your own 3-frame loops using your webcam</li>
</ul>
<%
### DON'T DELETE THESE IMAGES FROM THE DATABASE!
%>
<h3>Some animated GIFs produced with the Stereogranimator:</h3>
<%= link_to (image_tag "about-gif5.gif", :class=>"grid_2 alpha"), {:controller=>"gallery", :action=>"view", :id=>232} %>
<%= link_to (image_tag "about-gif6.gif", :class=>"grid_2"), {:controller=>"gallery", :action=>"view", :id=>218} %>
<%= link_to (image_tag "about-gif7.gif", :class=>"grid_2 omega"), {:controller=>"gallery", :action=>"view", :id=>315} %>
			</div>
		</div>
		<div class="clear"></div>
	</div>
