<% content_for :title do %>NYPL Labs : <% end %>
		<div id="home" class="container_12">
			<div>
				<h1 class="welcome"><span class="visuallyhidden">WELCOME</span></h1>
			</div>
			<div id="explainer" class="grid_12">
				<p class="mainParagraph">Create and share 3D images from the stereograph collections of The New York Public Library (<a href="/about/collection">and others</a>).</p>
			<p class="flickrParagraph">
				Use your 
<% if cookies[:flickr_username] != nil && cookies[:flickr_username] != "" %>
				<%= link_to (image_tag "white-flickr.png"), "/create" %>
<% else %>
				<%= link_to (image_tag "white-flickr.png"), @flickr_url %>
<% end %>
				images!</p>
				<%= link_to (image_tag "sample-stereo.jpeg", {:class=>"stereo"}), "/create", {:title => "click to create your own!", :class => "left"} %>
				<%= link_to (image_tag "diagram-home.png", {:class=>"diagram"}), "/create", {:title => "click to create your own!", :class => "center"} %>
				<div class="samples right">
					<div class="GIF">
						<%= link_to (image_tag "sample-gif.gif"), "/create", {:title => "click to create your own!"} %>
					</div>
					<div class="anaglyph">
						<%= link_to (image_tag "sample-anaglyph.png"), "/create", {:title => "click to create your own!"} %>
					</div>
				</div>
				<div class="startCreating centered">
					<%= link_to "START CREATING!", "/create", :class => 'genericButtonLink big' %>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="container_12">
			<h1 class="latest grid_3"><span class="visuallyhidden">LATEST</span></h1>
			<div class="homeThumb">
<% @images.each_with_index do |image,i| %>
<%= render :partial => "shared/thumb", :locals => {:image => image} %>
<% end %>
			</div>
			<h1 class="popular grid_3"><span class="visuallyhidden">POPULAR</span></h1>
			<div class="homeThumb">
<% @popular.each_with_index do |image,i| %>
<%= render :partial => "shared/thumb", :locals => {:image => image} %>
<% end %>
			</div>
			<h1 class="random grid_3"><span class="visuallyhidden">RANDOM</span></h1>
			<div class="homeThumb">
<% @random.each_with_index do |image,i| %>
<%= render :partial => "shared/thumb", :locals => {:image => image} %>
<% end %>
			</div>
			<div class="more centered">
				<%= link_to "VIEW MORE IN THE GALLERY >", "/gallery", :class => 'genericButtonLink' %>
			</div>
		</div>
		<div class="clear"></div>
		<div class="stats container_12">
			<div class="grid_2">
				<p><span class="big"><%= number_with_delimiter @collectioncount %></span>
					<br />collections
					<br /><%= link_to (image_tag "ext0_big.png"), "http://www.nypl.org", :title=>"New York Public Library" %>
					<% Image.flickr_sets.each do |set| %>
						<%= link_to (image_tag "ext#{set[:id]}_big.png"), "#{set[:homeurl]}", {:onclick=>"recordOutboundLink(this, 'Outbound Links', 'External Collection');return false;",:title=>"#{set[:name]}"} %>
					<% end %>
				</p>
			</div>
			<div class="grid_2">
				<p><span class="big"><%= number_with_delimiter @imagecount %></span><br />original stereographs</p>
			</div>
			<div class="quote grid_4">
				<p>“We have now obtained the doubleeyed or twin pictures, or <em>Stereograph</em>, if we may coin a name. But the pictures are two, and we want to slide them into each other, so to speak, as in natural vision, that we may see them as one. How shall we make one picture out of two, the corresponding parts of which are separated by a distance of two or three inches?”<br />
					—<%= link_to "Oliver Wendell Holmes", "http://www.theatlantic.com/magazine/archive/1859/06/the-stereoscope-and-the-stereograph/3361/" %>, 1859</p>
			</div>
			<div class="grid_2">
				<p><span class="big"><%= number_with_delimiter @gifcount %></span><br /><%= link_to "animated GIFs", "/gallery/gif" %></p>
			</div>
			<div class="grid_2">
				<p><span class="big"><%= number_with_delimiter @anaglyphcount %></span><br /><%= link_to "anaglyphs", "/gallery/anaglyph" %></p>
			</div>
		</div>
		<div class="clear"></div>
		<div class="container_12">
			<h1 class="news grid_3"><span class="visuallyhidden">IN THE NEWS</span></h1>
			<div class="homeNews">
			<%= link_to (image_tag "n-atlantic.png", :class=>"grid_2"), "http://www.theatlantic.com/technology/archive/2012/01/the-new-york-public-librarys-animated-gif-maker/252070/", :onclick=>"recordOutboundLink(this, 'Outbound Links', 'News');return false;" %>
			<%= link_to (image_tag "n-cnet.png", :class=>"grid_2"), "http://news.cnet.com/8301-17938_105-57367237-1/vintage-3d-wiggle-gifs-respun-with-librarys-cool-tool/", :onclick=>"recordOutboundLink(this, 'Outbound Links', 'News');return false;" %>
			<%= link_to (image_tag "n-artinfo.png", :class=>"grid_2"), "http://blogs.artinfo.com/artintheair/2012/01/26/new-york-public-library-turns-its-19th-century-photo-collection-into-3d-animated-gifs/", :onclick=>"recordOutboundLink(this, 'Outbound Links', 'News');return false;" %>
			<%= link_to (image_tag "n-creators.png", :class=>"grid_2"), "http://www.thecreatorsproject.com/blog/nypl-lets-you-make-gifs-from-turn-of-the-century-stereographs", :onclick=>"recordOutboundLink(this, 'Outbound Links', 'News');return false;" %>
			<%= link_to (image_tag "n-nyt.png", :class=>"grid_2"), "http://artsbeat.blogs.nytimes.com/2012/01/26/3-d-it-yourself-thanks-to-new-library-site/", :onclick=>"recordOutboundLink(this, 'Outbound Links', 'News');return false;" %>
			<%= link_to (image_tag "n-tpm.png", :class=>"grid_2"), "http://idealab.talkingpointsmemo.com/2012/01/new-york-public-library-launches-stereogranimator.php", :onclick=>"recordOutboundLink(this, 'Outbound Links', 'News');return false;" %>
			</div>
		</div>

