		<div id="home" class="container_12">
			<div>
				<h1 class="welcome"><span class="visuallyhidden">WELCOME</span></h1>
				<p class="mainParagraph">Create and share <%= link_to "animated GIFs and anaglyphs", "/about" %> using more than 40,000 stereographs available in the <%= link_to "NYPL Digital Gallery", "http://digitalgallery.nypl.org"%>.</p>
			</div>
			<div id="explainer" class="grid_12">
				<%= image_tag "sample-stereo.jpeg", {:class=>"stereo"} %>
				<%= image_tag "diagram-home.png", {:class=>"diagram"} %>
				<div class="samples">
					<div class="GIF">
						<%= image_tag "sample-gif.gif" %>
					</div>
					<div class="anaglyph">
						<%= image_tag "sample-anaglyph.jpeg" %>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="startCreating centered">
				<%= link_to "START CREATING!", "/choose", :class => 'genericButtonLink' %>
			</div>
			<div class="clear"></div>
			<div>
				<h1 class="latest grid_3"><span class="visuallyhidden">LATEST</span></h1>
				<div class="clear"></div>
<% @images.each_with_index do |image,i| %>
<%= render :partial => "shared/thumb", :locals => {:image => image} %>
<% end %>
				<div class="clear"></div>
				<div class="more centered">
					<%= link_to "VIEW MORE IN THE GALLERY >", "/gallery", :class => 'genericButtonLink' %>
				</div>
			</div>
			<div class="clear"></div>
			<div class="quote grid_4 prefix_4">
				<p>“We have now obtained the doubleeyed or twin pictures, or <em>Stereograph</em>, if we may coin a name. But the pictures are two, and we want to slide them into each other, so to speak, as in natural vision, that we may see them as one. How shall we make one picture out of two, the corresponding parts of which are separated by a distance of two or three inches?”
—<%= link_to "Oliver Wendell Holmes", "http://www.theatlantic.com/magazine/archive/1859/06/the-stereoscope-and-the-stereograph/3361/" %>, 1859</p>
			</div>
		</div>
