<% content_for :dynamic_js do %>
<%= javascript_include_tag "/assets/lightbox/prototype.js" %>
<%= javascript_include_tag "/assets/lightbox/scriptaculous.js?load=effects,builder" %>
<%= javascript_include_tag "/assets/lightbox/lightbox.js" %>
<%= stylesheet_link_tag "/assets/lightbox/lightbox.css" %>
<% end %>
	<div class="container_12">
		<h1 class="welcome"><span class="visuallyhidden">WELCOME</span></h1>
		<div class="grid_9">
<%= render :partial => "shared/sidenav" %>
			<div class="grid_6 omega">
				<h2>Stereoscopic photography</h2>
<p>Stereoscopic photography recreates the illusion of depth by utilizing the binocularity of human vision. Because our two eyes are set apart, each eye sees the world from a slightly different angle. Our brains combine these two different eye-images into one, a phenomenon that enables us to "see," ever so slightly, around the sides of objects, providing spatial depth and dimension. Stereoscopic views consist of two nearly twin photographs -- one for the left eye, one for the right. Viewing the side-by-side images though a special lens arrangement called a stereoscope helps our brains combine the two flat images and "see" the illusion of objects in spatial depth.</p>
			</div>
			<div class="clear"></div>
			<div class="grid_3 alpha">
<%= link_to (image_tag "about-scope1.png"), asset_path("about-scope1.jpg"), {:rel => "lightbox[scope]", :title => "A stereoscope for glass stereograms"}  %>
<%= link_to (image_tag "about-scope2.png"), asset_path("about-scope2.jpg"), {:rel => "lightbox[scope]", :title => "A stereoscope for glass stereograms"}  %>
<%= link_to (image_tag "about-scope3.png"), asset_path("about-scope3.jpg"), {:rel => "lightbox[scope]", :title => "A stereoscope for glass stereograms"}  %>
<p>Above: stereoscope for glass stereograms</p>
<%= link_to (image_tag "about-scope6th.gif"), asset_path("about-scope6.gif"), {:rel => "lightbox[scope]", :title => "Using an early-20th century stereoscope"}  %>
<p>Using an early-20th century stereoscope</p>
<%= link_to (image_tag "about-scope7.png"), asset_path("about-scope7.jpg"), {:rel => "lightbox[scope]", :title => "A late-20th century stereoscope"}  %>
<p>A late-20th century stereoscope</p>
			</div>
			<div class="grid_6 omega">
<p>More text here.</p>
<p>More text here.</p>
<p>More text here.</p>
<p>More text here.</p>
			</div>

		</div>
		<div class="clear"></div>
	</div>
